body {
    margin: 8px 0 8px 0;
}

header {
    height: 50px;
    position: relative;
}

 /*fonctionnalités*/
.fonctionnalites {
    position: relative;
}

/*image decouvrez*/
/*figure.img_decouvrez > img {
    z-index: -2;
    position: absolute;
    top: 15px;
    left: -10px;
}

/*découvrez*/
/*.decouvrez >h2, .decouvrez > p {
    position: relative;
    left: 850px;
    top:280px;
    width: 450px;
}

/*postez*/
/*image postez*/
/*figure.img_postez > img {
    z-index: -1;
    position: absolute;
    top: 250px;
    left: 711px;
}

.postez > h2, .postez > p {
    position: relative;
    left: 300px;
    top:600px;
    width: 350px;
}

/*achetez/vendez*/
/*image achetez/vendez*/
/*figure.img_achetez_vendez > img {
    z-index: -2;
    position: absolute;
    top: 950px;
    left: -10px;
}

.achetez_vendez > h2, .achetez_vendez > p {
    position: relative;
    left: 1000px;
    top:900px;
    width: 450px;
}

.equipe, .a-propos, .contact {
    position: relative;
    top: 1000px;
}

/*equipe*/
/*img equipe*/
figure.img_equipe > img {
    z-index: -1;
    position: absolute;
    top: -57px;
    left: -10px;
}

.equipe > h3, .contact > h3 {
    width: 375px;
    height: 60px;
    border-radius: 0 60px 60px 0;
    text-align: right;
    padding: 15px 60px 0 0;
    margin-left: -10px;
}

.lena, .marine, .nina {
    display: inline-block;
    text-align: center;
}

/*lena*/
.lena > address > a{
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.lena {
    position: relative;
    left: 275px;
    top: -25px;

}
/*marine*/
.marine > address > a{
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.marine {
    position: relative;
    left: 350px;
    top: -75px;
}

/*nina*/
.nina > address > a {
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.nina {
    position: relative;
    left: 425px;
    top: -25px;
}

/*à propos*/
/*image vague*/
figure.vague > img {
    position: relative;
    top: 70px;
    /*left: -10px;*/
    right: 0;
}
figure.vague2 > img {
    position: relative;
   /* left: -10px;*/
    right: 0;
}

figure.vague {
    margin: 0;
}

figure.vague2 {
    margin: 0;
}

/*.a-propos > h3 {
    width: 375px;
    height: 60px;
    border-radius: 60px 0 0 60px;
    text-align: left;
    padding: 15px 0 0 50px;
    position: relative;
    left: 1085px;
}*/

.a-propos > p {
    padding: 0 200px 0 200px;
}

/*h3#equipe, .contact > h3, #titre h3 {
    height: 30px;
    border-radius: 0 60px 60px 0;
    text-align: left;
    padding: 10px 0 0 20px;
    margin-left: -10px;
    width: 100%;
    font-size: 15px;
}
 */

/*contact*/
.center {
    width: 100%;
    max-width: 150px;
    margin:0 auto;
}

@media screen and (max-width: 3000px) {
    /*reseaux*/
    /* logo*/
    #logo {
        width: 180px;
        height: 65px;
        position: relative;
        left: 20px;
        top: 10px;
    }

    .reseaux li{
        display: inline;
        padding: 0 20px 0 20px;
    }

    .reseaux ul {
        padding-left: 40px;
    }

    .reseaux {
        position: relative;
        top: 0;
        z-index: -1;
    }

    /*insta*/
    .feather.feather-instagram {
        width: 50px;
        height:80px;
    }

    /*facebook*/
    #Bold {
        width: 45px;
        height: 79px;
    }

    /*mail*/
    #email {
        width: 55px;
        height:79px;
    }

    .reseaux {
        position: relative;
        top: -80px;
        z-index: -1;
    }

    #logo, .reseaux {
        display: flex;
        justify-content: flex-end;
    }

    /*connexion*/
    .connexion {
        position: absolute;
        z-index: 2;
        width: 50%;
        top: 150px;

    }

    .connexion input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 20px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    #connexion {
        box-sizing : border-box;
        border-radius:30px;
        padding: 20px 40px 20px 40px;
        background-color: white;
        width: 100%;
        height: 430px;
        max-width: 570px;
        margin:0 auto;
    }

    #connexion .prenom\/nom, #connexion .mail, #connexion .id, #connexion .age, #connexion .mdp {
        padding: 5px 0 5px 0;
    }

    #connexion button.je-me-connecte {
        width: 100%;
        padding: 20px;
        border-radius:20px;
        border: none;
    }

    .connectez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    .texte, .connexion {
        display: inline-block;
    }

    .texte {
        width: 50%;
    }

    #connexion {
        border: 5px solid #aedfe0;
    }

    #connexion a#mdp-oublie {
        float: right;
        padding-bottom: 10px;
    }

    #connexion a#inscription {
        display:block;
        text-align:center;
    }

    img#connexion_t_img {
        visibility: hidden;
        position: absolute;
    }

    img#connexion_m_img {
        visibility: hidden;
        position: absolute;
    }

    /*inscription*/
    .inscription {
        position: absolute;
        z-index: 2;
        width: 50%;
        top: 130px;

    }

    .inscription input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 20px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    form#inscription {
        box-sizing : border-box;
        border-radius:30px;
        padding: 20px 40px 20px 40px;
        background-color: white;
        width: 100%;
        height: 670px;
        max-width: 570px;
        margin:0 auto;
    }

    form#inscription .prenom\/nom, form#inscription .mail, form#inscription .id, form#inscription .age, form#inscription .mdp {
        padding: 5px 0 5px 0;
    }

    form#inscription button.je-m-inscris {
        width: 100%;
        padding: 20px;
        border-radius:20px;
        border: none;
    }

    .inscrivez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    .texte, .inscription {
        display: inline-block;
    }

    .texte {
        width: 50%;
    }

    form#inscription {
        border: 5px solid #aedfe0;
    }

    /* contact*/
    .contact textarea, .contact input {
        width: 100%;
        border-radius: 17px;
        border: none;
        padding: 10px 10px 10px 10px;
        margin: 10px 0 0 0;
        box-sizing: border-box;
        resize: vertical;
    }

    #contact {
        box-sizing : border-box;
        border-radius:35px;
        background-color:#f2f2f2;
        padding: 20px 80px 20px 80px;
        width: 100%;
        height: 500px;
        max-width: 900px;
        margin:0 auto;
    }

    .nom, .prenom, .mail2, .msg {
        padding: 5px 0 5px 0;
    }

    textarea#msg {
        height: 200px;
    }

    #contact button.envoyer {
        width: 150px;
        height: 40px;
        border-radius: 12px;
        border: none;
        /*margin:0 auto;*/
    }

    #nom, #prenom {
        display: inline-block;
        width: 100%;
    }

    /*image contact*/
    img#img_contact.responsive {
        width: 100%;
        max-width: 2000px;
        height: 800px;
        position: absolute;
        z-index: -1;
    }
}

@media screen and (max-width: 1000px) {
    /*image contact*/
    img#img_contact.responsive {
        width: 100%;
        max-width: 2000px;
        height: 100%;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    /*reseaux*/
    /* logo*/
    #logo {
        width: 130px;
        height: 50px;
        position: relative;
        left: 10px;
        top: 0;
    }

    .reseaux li{
        display: inline;
        padding: 0 5px 0 15px;
    }

    .reseaux ul {
        padding-left:0;
        margin: 0;
    }

    .reseaux {
        position: relative;
        top: -50px;
        z-index: -1;
    }

    #logo, .reseaux {
        display: flex;
        justify-content: flex-end;
    }

    .texte, .inscription {
        display: table-cell;
    }

    /*insta*/
    .feather.feather-instagram {
        width: 30px;
        height:50px;
    }

    /*facebook*/
    #Bold {
        width: 30px;
        height: 50px;
    }

    /*mail*/
    #email {
        width: 30px;
        height:50px;
    }

    /*connexion*/
    .connexion {
        position: relative;
        z-index: 2;
        width: 100%;
        top: 10px;
    }

    .connexion input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 20px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    #connexion {
        box-sizing : border-box;
        border-radius:30px;
        padding: 20px 50px 20px 50px;
        background-color: white;
        width: 100%;
        height: 390px;
        max-width: 450px;
        margin:0 auto;
        border: none;
        position: relative;
        top: 70px;
    }

    img#connexion_t_img {
        position: absolute;
        width: 100%;
        max-width: 2000px;
        max-height: 500px;
        z-index: -1;
        visibility: visible;
    }

    img#connexion_m_img {
        position: absolute;
        visibility: hidden;
    }

    #connexion .prenom\/nom, #connexion .mail, #connexion .id, #connexion .age, #connexion .mdp {
        padding: 5px 0 5px 0;
    }

    #connnexion button.je-me-connecte {
        width: 100%;
        padding: 20px;
        border-radius:20px;
        border: none;
    }

    .connectez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    #container a#mdp-oublie {
        display:block;
        text-align:center;
    }

    /*inscription*/
    .inscription {
        position: relative;
        z-index: 2;
        width: 50%;
        top: 20px;

    }

    .inscription input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 20px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    form#inscription {
        box-sizing : border-box;
        border-radius:30px;
        padding: 20px 50px 20px 50px;
        background-color: white;
        width: 100%;
        height: 670px;
        max-width: 570px;
        margin:0 auto;
        border: none;
    }

    form#inscription .prenom\/nom, form#inscription .mail, form#inscription .id, form#inscription .age, form#inscription .mdp {
        padding: 5px 0 5px 0;
    }

    form#inscription button.je-m-inscris {
        width: 100%;
        padding: 20px;
        border-radius:20px;
        border: none;
    }

    .inscrivez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    /* contact*/
    .contact textarea, .contact input {
        width: 100%;
        border-radius: 17px;
        border: none;
        padding: 10px 10px 10px 10px;
        margin: 10px 0 0 0;
        box-sizing: border-box;
        resize: vertical;
    }

    #contact {
        box-sizing : border-box;
        border-radius:35px;
        background-color:#f2f2f2;
        padding: 20px 50px 20px 50px;
        width: 100%;
        height: 500px;
        max-width: 680px;
        margin:0 auto;
    }

    .nom, .prenom, .mail2, .msg {
        padding: 5px 0 5px 0;
    }

    textarea#msg {
        height: 200px;
    }

    #contact button.envoyer {
        width: 150px;
        height: 40px;
        border-radius: 12px;
        border: none;
        /*margin:0 auto;*/
    }

    #nom, #prenom {
        display: table-cell;
        width: 100%;
    }

    /*image contact*/
    img#img_contact.responsive {
        width: 100%;
        max-width: 2000px;
        height: 100%;
    }
}

@media screen and (max-width: 480px){
    /*reseaux*/
    #logo {
        height: 40px;
        width: 100px;
        position: relative;
        left: 10px;
        top: 0;
    }

    .reseaux li{
        display: inline;
        padding: 0 5px 0 15px;
    }

    .reseaux ul {
        padding-left: 0;
        margin: 0;
    }

    .reseaux {
        position: relative;
        top: -35px;
        z-index: -1;
    }

    #logo, .reseaux {
        display: flex;
        justify-content: flex-end;
    }

    .texte, .inscription {
        display: table-cell;
    }

    /*insta*/
    .feather.feather-instagram {
        width: 20px;
        height:35px;
    }

    /*facebook*/
    #Bold {
        width: 20px;
        height: 35px;
    }

    /*mail*/
    #email {
        width: 20px;
        height: 35px;
    }

    /*connexion*/
    .connexion {
        position: relative;
        z-index: 2;
        width: 100%;
        top: 20px;

    }

    .connexion input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    #connexion {
        box-sizing : border-box;
        border-radius:30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 300px;
        max-width: 310px;
        margin:0 auto;
        border: none;
        position: relative;
        top:110px;
    }

    #connexion .prenom\/nom, #connexion .mail, #connexion .id, #connexion .age, #connexion .mdp {
        padding: 5px 0 5px 0;
    }

    #connexion button.je-me-connecte{
        width: 100%;
        padding: 10px;
        border-radius:20px;
        border: none;
    }

    .connectez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    img#connexion_t_img {
        visibility: hidden;
        position: absolute;
    }

    img#connexion_m_img {
        position: absolute;
        width: 100%;
        max-width: 2000px;
        max-height: 650px;
        z-index: -1;
        visibility: visible;
        top: -160px;
    }

    /*inscription*/
    .inscription {
        position: relative;
        z-index: 2;
        width: 50%;
        top: 20px;

    }

    .inscription input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 20px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    form#inscription {
        box-sizing : border-box;
        border-radius:30px;
        padding: 20px 50px 20px 50px;
        background-color: white;
        width: 100%;
        height: 670px;
        max-width: 570px;
        margin:0 auto;
        border: none;
    }

    form#inscription .prenom\/nom, form#inscription .mail, form#inscription .id, form#inscription .age, form#inscription .mdp {
        padding: 5px 0 5px 0;
    }

    form#inscription button.je-m-inscris {
        width: 100%;
        padding: 20px;
        border-radius:20px;
        border: none;
    }

    .inscrivez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    /* contact*/
    .contact textarea, .contact input {
        width: 100%;
        border-radius: 17px;
        border: none;
        padding: 10px 10px 10px 10px;
        margin: 10px 0 0 0;
        box-sizing: border-box;
        resize: vertical;
    }

    #contact {
        box-sizing : border-box;
        border-radius:35px;
        background-color:#f2f2f2;
        padding: 20px 30px 20px 30px;
        width: 100%;
        height: 500px;
        max-width: 400px;
        margin:0 auto;
    }

    .nom, .prenom, .mail2, .msg {
        padding: 5px 0 5px 0;
    }

    textarea#msg {
        height: 200px;
    }

    #contact button.envoyer {
        width: 150px;
        height: 40px;
        border-radius: 12px;
        border: none;
        /*margin:0 auto;*/
    }

    #nom, #prenom {
        display: table-cell;
        width: 100%;
    }

    /*image contact*/
    img#img_contact.responsive {
        width: 100%;
        max-width: 2000px;
        height: 100%;
        visibility: hidden;
    }

    /*img#img_contact {
        position: absolute;
        z-index: -1;
        top: -5px;
        left: 0;
    }*/
}

@media screen and (max-width: 430px) {
    #connexion {
        border-radius:30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 320px;
        max-width: 310px;
        margin:0 auto;
        border: none;
        position: relative;
        top:70px;
    }
}

@media screen and (max-width: 386px) {
    #connexion {
        border-radius:30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 320px;
        max-width: 310px;
        margin:0 auto;
        border: none;
        position: relative;
        top:50px;
    }
}

@media screen and (max-width: 360px) {
    #connexion {
        border-radius:30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 320px;
        max-width: 310px;
        margin:0 auto;
        border: none;
        position: relative;
        top:30px;
    }
}

@media screen and (max-width: 345px) {
    #connexion {
        border-radius:30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 300px;
        max-width: 310px;
        margin:0 auto;
        border: none;
        position: relative;
        top:30px;
    }
}


@media screen and (max-width: 330px) {
    #connexion {
        border-radius:30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 300px;
        max-width: 310px;
        margin:0 auto;
        border: none;
        position: relative;
        top:10px;
    }
}