header {
    height: 50px;
}

/* logo*/
.logo img {
    width: 180px;
    height: 65px;
    position: absolute;
    left: 44px;
    top: 40px;
}

/*réseaux sociaux*/
.reseaux li{
    display: inline;
    padding: 0 20px 0 20px;
    height: 50px;
    width: 50px;
}

.reseaux ul {
    position: absolute;
    left: 250px;
}

/* texte*/
h1, .texte {
    padding-left: 140px;
}

h1 {
    padding-top: 50px;
    margin-block-end: 20px;
}

.texte p:first-of-type {
    padding-right: 750px;
    padding-bottom: 15px;
}

.texte p:nth-of-type(2) {
    padding-right: 975px;
}

.texte p:nth-of-type(3) {
    padding-right: 975px;
    padding-top: 25px;
}
/*image fond*/
figure.img_inscription > img {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 525px;
}

/* Inscrivez-vous*/
.inscription {
    position: absolute;
    left: 1050px;
    top: 10px;
    right: 30px;
}

.inscrivez-vous {
    border-radius: 39px;
}

.inscrivez-vous h2 {
    padding: 20px 120px 3px 120px;
    text-align: center;
}
 button.prenom\/nom /*, button.mail, button.mdp*/  {
     border-radius: 17px;
     padding: 12px 230px 12px 25px;
     margin-bottom: 10px;
     position: relative;
     left: 50px;
     border: none;
 }

button.age {
    border-radius: 17px;
    padding: 12px 290px 12px 25px;
    margin-bottom: 10px;
    position: relative;
    left: 50px;
    border: none;
}

button.id {
    border-radius: 17px;
    padding: 12px 250px 12px 25px;
    margin-bottom: 10px;
    position: relative;
    left: 50px;
    border: none;
}

button.mail {
    margin-bottom: 0;
    border-radius: 17px;
    padding: 12px 280px 12px 25px;
    position: relative;
    left: 50px;
    border: none;

}

button.mdp {
    border-radius: 17px;
    padding: 12px 190px 12px 25px;
    margin-bottom: 10px;
    position: relative;
    left: 50px;
    border: none;
}

 .mdp p:first-of-type {
     text-align: center;
     background: none;
     padding: 0 50px 0 50px;
 }

 .je-m-inscris button {
     text-align: center;
     padding: 12px 125px 12px 125px;
     margin-bottom: 20px;
     position: relative;
     left: 50px;
     border-radius: 17px;
     border: none;
 }

 .inscription > p {
     text-align: center;
     padding: 0 70px 0 70px;
 }

 /*fonctionnalités*/
.fonctionnalites {
    position: relative;
}

/*image decouvrez*/
figure.img_decouvrez > img {
    z-index: -2;
    position: absolute;
    top: 15px;
    left: -10px;
}

/*découvrez*/
.decouvrez >h2, .decouvrez > p {
    position: relative;
    left: 850px;
    top:280px;
    width: 450px;
}

/*postez*/
/*image postez*/
figure.img_postez > img {
    z-index: -1;
    position: absolute;
    top: 250px;
    left: 711px;
}

.postez > h2, .postez > p {
    position: relative;
    left: 300px;
    top:600px;
    width: 350px;
}

/*achetez/vendez*/
/*image achetez/vendez*/
figure.img_achetez_vendez > img {
    z-index: -2;
    position: absolute;
    top: 950px;
    left: -10px;
}

.achetez_vendez > h2, .achetez_vendez > p {
    position: relative;
    left: 1000px;
    top:900px;
    width: 450px;
}

.equipe, .a-propos, .contact {
    position: relative;
    top: 1000px;
}

/*equipe*/
/*img equipe*/
figure.img_equipe > img {
    z-index: -1;
    position: absolute;
    top: -57px;
    left: -10px;
}

.equipe > h3, .contact > h3 {
    width: 375px;
    height: 60px;
    border-radius: 0 60px 60px 0;
    text-align: right;
    padding: 15px 60px 0 0;
    margin-left: -10px;
}

.lena, .marine, .nina {
    display: inline-block;
    text-align: center;
}

/*lena*/
.lena > address > a{
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.lena {
    position: relative;
    left: 275px;
    top: -25px;

}

/*marine*/
.marine > address > a{
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.marine {
    position: relative;
    left: 350px;
    top: -75px;
}

/*nina*/
.nina > address > a{
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.nina {
    position: relative;
    left: 425px;
    top: -25px;
}

/*à propos*/
/*image vague*/
figure.vague > img {
    position: relative;
    top: 70px;
    left: -50px;
}
figure.vague2 > img {
    position: relative;
    left: -50px;
}


.a-propos > h3 {
    width: 375px;
    height: 60px;
    border-radius: 60px 0 0 60px;
    text-align: left;
    padding: 15px 0 0 60px;
    position: relative;
    left: 1085px;
}
.a-propos > p {
    padding: 0 200px 0 200px;
}