body {
    margin: 8px 0 8px 0;
}

header {
    height: 50px;
    position: relative;
}

 /*fonctionnalités*/
.fonctionnalites {
    position: relative;
}

/*.equipe, .a-propos, .contact {
    position: relative;
    top: 1000px;
}*/

/*equipe*/

/*.equipe > h3, .contact > h3 {
    width: 375px;
    height: 60px;
    border-radius: 0 60px 60px 0;
    text-align: right;
    padding: 15px 60px 0 0;
    margin-left: -10px;
}*/

.lena, .marine, .nina {
    display: inline-block;
    text-align: center;
}

/*lena*/
/*.lena > address > a{
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.lena {
    position: relative;
    left: 275px;
    top: -25px;

}
/*marine*/
/*.marine > address > a{
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.marine {
    position: relative;
    left: 350px;
    top: -75px;
}

/*nina*/
/*.nina > address > a {
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
}

.nina {
    position: relative;
    left: 425px;
    top: -25px;
}

/*à propos*/
/*image vague*/
figure.vague > img {
    position: relative;
    top: 70px;
    /*left: -10px;*/
    right: 0;
}
figure.vague2 > img {
    position: relative;
   /* left: -10px;*/
    right: 0;
}

figure.vague {
    margin: 0;
}

figure.vague2 {
    margin: 0;
}

/*.a-propos > h3 {
    width: 375px;
    height: 60px;
    border-radius: 60px 0 0 60px;
    text-align: left;
    padding: 15px 0 0 50px;
    position: relative;
    left: 1085px;
}*/

/*.a-propos > p {
    padding: 0 200px 0 200px;
}*/

/*contact*/
.center {
    width: 100%;
    max-width: 150px;
    margin:0 auto;
}

@media screen and (max-width: 3000px) {
    /*reseaux*/
    /* logo*/
    #logo {
        width: 180px;
        height: 65px;
        position: relative;
        left: 20px;
        top: 10px;
    }

    .reseaux li {
        display: inline;
        padding: 0 20px 0 20px;
    }

    .reseaux ul {
        padding-left: 40px;
    }

    .reseaux {
        position: relative;
        top: 0;
        z-index: -1;
    }

    /*insta*/
    .feather.feather-instagram {
        width: 50px;
        height: 80px;
    }

    /*facebook*/
    #Bold {
        width: 45px;
        height: 79px;
    }

    /*mail*/
    #email {
        width: 55px;
        height: 79px;
    }

    .reseaux {
        position: relative;
        top: -80px;
        z-index: -1;
    }

    #logo, .reseaux {
        display: flex;
        justify-content: flex-end;
    }

    /*connexion*/
    .connexion {
        position: absolute;
        z-index: 2;
        width: 50%;
        top: 150px;

    }

    .connexion input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 20px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    #connexion {
        box-sizing: border-box;
        border-radius: 30px;
        padding: 20px 40px 20px 40px;
        background-color: white;
        width: 100%;
        height: 430px;
        max-width: 570px;
        margin: 0 auto;
    }

    #connexion .prenom\/nom, #connexion .mail, #connexion .id, #connexion .age, #connexion .mdp {
        padding: 5px 0 5px 0;
    }

    #connexion button.je-me-connecte {
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        border: none;
    }

    .connectez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    .texte, .connexion {
        display: inline-block;
    }

    .texte {
        width: 50%;
    }

    #connexion {
        border: 5px solid #aedfe0;
    }

    #connexion a#mdp-oublie {
        float: right;
        padding-bottom: 10px;
    }

    #connexion a#inscription {
        display: block;
        text-align: center;
    }

    img#connexion_t_img {
        visibility: hidden;
        position: absolute;
    }

    img#connexion_m_img {
        visibility: hidden;
        position: absolute;
    }

    /*inscription*/
    .inscription {
        position: absolute;
        z-index: 2;
        width: 50%;
        top: 130px;

    }

    .inscription input {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 20px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 10px;
    }

    form#inscription {
        box-sizing: border-box;
        border-radius: 30px;
        padding: 20px 40px 20px 40px;
        background-color: white;
        width: 100%;
        height: 670px;
        max-width: 570px;
        margin: 0 auto;
    }

    form#inscription .prenom\/nom, form#inscription .mail, form#inscription .id, form#inscription .age, form#inscription .mdp {
        padding: 5px 0 5px 0;
    }

    form#inscription button.je-m-inscris {
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        border: none;
    }

    .inscrivez-vous h2 {
        text-align: center;
    }

    .mdp p:first-of-type {
        text-align: center;
        background: none;
        padding: 0 50px 0 50px;
        margin-top: 0;
    }

    #mail {
        margin-bottom: 0;
    }

    .texte, .inscription {
        display: inline-block;
    }

    .texte {
        width: 50%;
    }

    form#inscription {
        border: 5px solid #aedfe0;
    }

    /* contact*/
    .contact textarea, .contact input {
        width: 100%;
        border-radius: 17px;
        border: none;
        padding: 10px 10px 10px 10px;
        margin: 10px 0 0 0;
        box-sizing: border-box;
        resize: vertical;
    }

    #contact {
        box-sizing: border-box;
        border-radius: 35px;
        background-color: #f2f2f2;
        padding: 20px 80px 20px 80px;
        width: 100%;
        height: 500px;
        max-width: 900px;
        margin: 0 auto;
    }

    .nom, .prenom, .mail2, .msg {
        padding: 5px 0 5px 0;
    }

    textarea#msg {
        height: 200px;
    }

    #contact button.envoyer {
        width: 150px;
        height: 40px;
        border-radius: 12px;
        border: none;
        /*margin:0 auto;*/
    }

    #nom, #prenom {
        display: inline-block;
        width: 100%;
    }

    /*image contact*/
    img#img_contact.responsive {
        width: 100%;
        max-width: 2000px;
        height: 800px;
        position: absolute;
        z-index: -1;
    }

    /*decouvrez, postez, achetez vendez*/
    img#decouvrez {
        position: relative;
        top: -100px;
        height: 200%;
        width: 50%;
    }

    img#decouvrez, .decouvrez h2, .decouvrez p {
        display: inline-block;
    }

    img#postez, .postez h2, .postez p {
        display: inline-block;
    }

    img#achetez_vendez, .achetez_vendez h2, .achetez_vendez p {
        display: inline-block;
    }

    .decouvrez h2 {
        position: absolute;
        top: 130px;
    }

    .decouvrez p {
        position: absolute;
        top: 230px;
        width: 420px;
    }

    img#postez {
        position: relative;
        top: -700px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 700px;
        left: 250px;
    }

    .postez p {
        position: absolute;
        top: 800px;
        left: 250px;
        width: 380px;
    }

    .postez {
        display: flex;
        justify-content: flex-end;
    }

    img#achetez_vendez {
        position: relative;
        top: -300px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 1250px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 50px;
        top: -35px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 585px;
        margin-left: 50px;
        top: 40px;
    }

    .fonctionnalites {
        height:1420px;
    }

    /*equipe*/

    h3#equipe, .contact > h3, #titre h3 {
        max-width: 600px;
    }

    h3#equipe, .contact h3, #titre h3 {
        height: 30px;
        border-radius: 0 60px 60px 0;
        text-align: left;
        padding: 10px 0 20px 20px;
        margin-left: -10px;
        margin-top: 50px;
        width: 100%;
    }

    .equipe {
        height: 300px;
        position: relative;
        margin: 70px auto 0 auto;
        max-width: 665px;
    }

    .lena img, .marine img, .nina img {
        width: 130px;
        height: 130px;
    }
    .nina > address > p, .marine > address > p, .lena > address > p {
        font-size: 16px;
    }

    .lena > address > a, .marine > address > a, .nina > address > a{
        padding: 7px 15px 7px 15px;
        border-radius: 60px;
        font-size: 14px;
    }

    .lena {
        position: relative;
    }

    .marine {
        position: relative;
        left: 25px;
        top: -60px;
    }

    .nina {
        position: relative;
        left: 35px;
    }
}

@media screen and (max-width: 1250px) {

    .postez h2 {
        position: absolute;
        top: 620px;
        left: 200px;
    }

    .postez p {
        position: absolute;
        top: 700px;
        left: 200px;
        width: 350px;
    }

    .postez {
        display: flex;
        justify-content: flex-end;
    }

    .achetez_vendez {
        position: absolute;
        top: 1180px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 50px;
        top: -120px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 500px;
        margin-left: 50px;
        top: -30px;
    }

    .fonctionnalites {
        height:1350px;
    }
}


@media screen and (max-width: 1230px) {
    /*decouvrez, postez*/
    img#decouvrez {
        position: relative;
        top: -70px;
        height: 200%;
        width: 50%;
    }

    img#decouvrez, .decouvrez h2, .decouvrez p {
        display: inline-block;
    }

    .decouvrez h2 {
        position: absolute;
        top: 80px;
    }

    .decouvrez p {
        position: absolute;
        top: 180px;
        width: 350px;
    }

    img#postez {
        position: relative;
        top: -500px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 500px;
        left: 200px;
    }

    .postez p {
        position: absolute;
        top: 580px;
        left: 200px;
        width: 300px;
    }

    .postez {
        display: flex;
        justify-content: flex-end;
    }

    img#achetez_vendez {
        position: relative;
        top: -400px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 30px;
        top: -100px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 550px;
        margin-left: 30px;
        top: -40px;
    }
}

@media screen and (max-width: 1100px) {
    img#achetez_vendez {
        position: relative;
        top: -350px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 1050px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 30px;
        top: -100px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 500px;
        margin-left: 30px;
        top: -40px;
    }


    .fonctionnalites {
        height:1100px;
    }

}

@media screen and (max-width: 1060px) {

    .postez h2 {
        position: absolute;
        top: 500px;
        left: 200px;
    }

    .postez p {
        position: absolute;
        top: 600px;
        left: 200px;
        width: 300px;
    }

    .postez {
        display: flex;
        justify-content: flex-end;
    }

    img#achetez_vendez {
        position: relative;
        top: -280px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 1020px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 30px;
        top: -120px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 400px;
        margin-left: 30px;
        top: -40px;
    }


    .fonctionnalites {
        height:1130px;
    }
}

@media screen and (max-width: 1000px) {
    /*image contact*/
    img#img_contact.responsive {
        width: 100%;
        max-width: 2000px;
        height: 100%;
        visibility: hidden;
    }

    /*decouvrez, postez*/
    img#decouvrez {
        position: relative;
        top: -50px;
        height: 200%;
        width: 45%;
    }

    img#decouvrez, .decouvrez h2, .decouvrez p {
        display: inline-block;
    }

    .decouvrez h2 {
        position: absolute;
        top: 60px;
    }

    .decouvrez p {
        position: absolute;
        top: 130px;
        width: 420px;
    }

    img#postez {
        position: relative;
        top: -400px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 500px;
        left: 200px;
    }

    .postez p {
        position: absolute;
        top: 580px;
        left: 200px;
        width: 250px;
    }

    img#achetez_vendez {
        position: relative;
        top: -280px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 1020px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 20px;
        top: -180px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 380px;
        margin-left: 20px;
        top: -100px;
    }

    .fonctionnalites {
        height:1110px;
    }
}

@media screen and (max-width: 914px) {
    .decouvrez p {
        position: absolute;
        top: 130px;
        width: 380px;
    }

    img#postez {
        position: relative;
        top: -300px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 500px;
        left: 150px;
    }

    .postez p {
        position: absolute;
        top: 580px;
        left: 150px;
        width: 200px;
    }

    .fonctionnalites {
        height:1070px;
    }
}

@media screen and (max-width: 828px) {

    img#postez {
        position: relative;
        top: -300px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 400px;
        left: 150px;
    }

    .postez p {
        position: absolute;
        top: 480px;
        left: 150px;
        width: 200px;
    }

    img#achetez_vendez {
        position: relative;
        top: -280px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 950px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 20px;
        top: -200px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 350px;
        margin-left: 20px;
        top: -120px;
    }

    .fonctionnalites {
        height: 970px;
    }
}


@media screen and (max-width: 768px) {
        /*reseaux*/
        /* logo*/
        #logo {
            width: 130px;
            height: 50px;
            position: relative;
            left: 10px;
            top: 0;
        }

        .reseaux li {
            display: inline;
            padding: 0 5px 0 15px;
        }

        .reseaux ul {
            padding-left: 0;
            margin: 0;
        }

        .reseaux {
            position: relative;
            top: -50px;
            z-index: -1;
        }

        #logo, .reseaux {
            display: flex;
            justify-content: flex-end;
        }

        .texte, .inscription {
            display: table-cell;
        }

        /*insta*/
        .feather.feather-instagram {
            width: 30px;
            height: 50px;
        }

        /*facebook*/
        #Bold {
            width: 30px;
            height: 50px;
        }

        /*mail*/
        #email {
            width: 30px;
            height: 50px;
        }

        /*connexion*/
        .connexion {
            position: relative;
            z-index: 2;
            width: 100%;
            top: 10px;
            height: 550px;
        }

        .connexion input {
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 20px;
            box-sizing: border-box;
            resize: vertical;
            margin-bottom: 10px;
        }

        #connexion {
            box-sizing: border-box;
            border-radius: 30px;
            padding: 20px 50px 20px 50px;
            background-color: white;
            width: 100%;
            height: 390px;
            max-width: 450px;
            margin: 0 auto;
            border: none;
            position: relative;
            top: 70px;
        }

        img#connexion_t_img {
            position: absolute;
            width: 100%;
            max-width: 2000px;
            max-height: 500px;
            z-index: -1;
            visibility: visible;
        }

        img#connexion_m_img {
            position: absolute;
            visibility: hidden;
        }

        #connexion .prenom\/nom, #connexion .mail, #connexion .id, #connexion .age, #connexion .mdp {
            padding: 5px 0 5px 0;
        }

        #connnexion button.je-me-connecte {
            width: 100%;
            padding: 20px;
            border-radius: 20px;
            border: none;
        }

        .connectez-vous h2 {
            text-align: center;
        }

        .mdp p:first-of-type {
            text-align: center;
            background: none;
            padding: 0 50px 0 50px;
            margin-top: 0;
        }

        #mail {
            margin-bottom: 0;
        }

        #container a#mdp-oublie {
            display: block;
            text-align: center;
        }

        /*inscription*/
        .inscription {
            position: relative;
            z-index: 2;
            width: 50%;
            top: 20px;

        }

        .inscription input {
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 20px;
            box-sizing: border-box;
            resize: vertical;
            margin-bottom: 10px;
        }

        form#inscription {
            box-sizing: border-box;
            border-radius: 30px;
            padding: 20px 50px 20px 50px;
            background-color: white;
            width: 100%;
            height: 670px;
            max-width: 570px;
            margin: 0 auto;
            border: none;
        }


        form#inscription .prenom\/nom, form#inscription .mail, form#inscription .id, form#inscription .age, form#inscription .mdp {
            padding: 5px 0 5px 0;
        }

        form#inscription button.je-m-inscris {
            width: 100%;
            padding: 20px;
            border-radius: 20px;
            border: none;
        }

        .inscrivez-vous h2 {
            text-align: center;
        }

        .mdp p:first-of-type {
            text-align: center;
            background: none;
            padding: 0 50px 0 50px;
            margin-top: 0;
        }

        #mail {
            margin-bottom: 0;
        }

        /* contact*/
        .contact textarea, .contact input {
            width: 100%;
            border-radius: 17px;
            border: none;
            padding: 10px 10px 10px 10px;
            margin: 10px 0 0 0;
            box-sizing: border-box;
            resize: vertical;
        }

        #contact {
            box-sizing: border-box;
            border-radius: 35px;
            background-color: #f2f2f2;
            padding: 20px 50px 20px 50px;
            width: 100%;
            height: 500px;
            max-width: 680px;
            margin: 0 auto;
        }

        .nom, .prenom, .mail2, .msg {
            padding: 5px 0 5px 0;
        }

        textarea#msg {
            height: 200px;
        }

        #contact button.envoyer {
            width: 150px;
            height: 40px;
            border-radius: 12px;
            border: none;
            /*margin:0 auto;*/
        }

        #nom, #prenom {
            display: table-cell;
            width: 100%;
        }

        /*image contact*/
        img#img_contact.responsive {
            width: 100%;
            max-width: 2000px;
            height: 100%;
        }

    /*decouvrez, postez*/

    .decouvrez p {
        position: absolute;
        top: 100px;
        width: 50%;
    }

    .decouvrez h2 {
        position: absolute;
        top: 30px;
    }

    img#postez {
        position: relative;
        top: -200px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 350px;
        left: 100px;
    }

    .postez p {
        position: absolute;
        top: 420px;
        left: 100px;
        width: 200px;
    }

    img#achetez_vendez {
        position: relative;
        top: -280px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 980px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 30px;
        top: -220px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 300px;
        margin-left: 30px;
        top: -160px;
    }

    .fonctionnalites {
        height: 980px;
    }

    /*equipe*/
    h3#equipe, .contact > h3, #titre h3 {
        max-width: 300px;
        height: 30px;
        border-radius: 0 60px 60px 0;
        text-align: left;
        padding: 10px 0 5px 20px;
        margin-left: -10px;
        margin-top: 50px;
        width: 100%;
    }

    .equipe {
        height: 240px;
        position: relative;
        margin: 70px auto 0 auto;
        max-width: 440px;
    }

    .lena img, .marine img, .nina img {
        width: 110px;
        height: 110px;
    }

    .nina > address > p, .marine > address > p, .lena > address > p {
        font-size: 14px;
    }

    .lena > address > a, .marine > address > a, .nina > address > a{
        padding: 7px 15px 7px 15px;
        border-radius: 60px;
        font-size: 12px;
    }

    .nina, .marine, .lena {
        position: absolute;
    }

    .marine {
        left: 125px;
        top: -60px;
    }

    .nina {
        left: 250px;
    }
}

@media screen and (max-width: 675px) {
    img#postez {
        position: relative;
        top: -200px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 250px;
        left: 100px;
    }

    .postez p {
        position: absolute;
        top: 300px;
        left: 100px;
        width: 200px;
    }


    img#achetez_vendez {
        position: relative;
        top: -280px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 900px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 30px;
        top: -240px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 300px;
        margin-left: 30px;
        top: -180px;
    }

    .fonctionnalites {
        height: 860px;
    }

}

@media screen and (max-width: 657px) {
    img#postez {
        position: relative;
        top: -100px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 380px;
        left: 100px;
    }

    .postez p {
        position: absolute;
        top: 450px;
        left: 100px;
        width: 200px;
    }

    img#achetez_vendez {
        position: relative;
        top: -250px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 950px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 30px;
        top: -240px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 240px;
        margin-left: 30px;
        top: -180px;
    }

    .fonctionnalites {
        height: 930px;
    }
}

@media screen and (max-width: 594px) {
    img#achetez_vendez {
        position: relative;
        top: -250px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 910px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 30px;
        top: -280px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 240px;
        margin-left: 30px;
        top: -200px;
    }

    .fonctionnalites {
        height: 870px;
    }
}

@media screen and (max-width: 540px) {
    img#postez {
        position: relative;
        top: -50px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 360px;
        left: 50px;
    }

    .postez p {
        position: absolute;
        top: 420px;
        left: 50px;
        width: 200px;
    }

    img#achetez_vendez {
        position: relative;
        top: -240px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 910px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 10px;
        top: -300px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 220px;
        margin-left: 10px;
        top: -220px;
    }

    .fonctionnalites {
        height: 860px;
    }

    .fonctionnalites {
        height: 860px;
    }
}


@media screen and (max-width: 480px) {
        /*reseaux*/
        #logo {
            height: 40px;
            width: 100px;
            position: relative;
            left: 10px;
            top: 0;
        }

        .reseaux li {
            display: inline;
            padding: 0 5px 0 15px;
        }

        .reseaux ul {
            padding-left: 0;
            margin: 0;
        }

        .reseaux {
            position: relative;
            top: -35px;
            z-index: -1;
        }

        #logo, .reseaux {
            display: flex;
            justify-content: flex-end;
        }

        .texte, .inscription {
            display: table-cell;
        }

        /*insta*/
        .feather.feather-instagram {
            width: 20px;
            height: 35px;
        }

        /*facebook*/
        #Bold {
            width: 20px;
            height: 35px;
        }

        /*mail*/
        #email {
            width: 20px;
            height: 35px;
        }

        /*connexion*/
        .connexion {
            position: relative;
            z-index: 2;
            width: 100%;
            top: 20px;
            height: 550px;
        }

        .connexion input {
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 10px;
            box-sizing: border-box;
            resize: vertical;
            margin-bottom: 10px;
        }

        #connexion {
            box-sizing: border-box;
            border-radius: 30px;
            padding: 10px 30px 10px 30px;
            background-color: white;
            width: 100%;
            height: 300px;
            max-width: 310px;
            margin: 0 auto;
            border: none;
            position: relative;
            top: 110px;
        }

        #connexion .prenom\/nom, #connexion .mail, #connexion .id, #connexion .age, #connexion .mdp {
            padding: 5px 0 5px 0;
        }

        #connexion button.je-me-connecte {
            width: 100%;
            padding: 10px;
            border-radius: 20px;
            border: none;
        }

        .connectez-vous h2 {
            text-align: center;
        }

        .mdp p:first-of-type {
            text-align: center;
            background: none;
            padding: 0 50px 0 50px;
            margin-top: 0;
        }

        #mail {
            margin-bottom: 0;
        }

        img#connexion_t_img {
            visibility: hidden;
            position: absolute;
        }

        img#connexion_m_img {
            position: absolute;
            width: 100%;
            max-width: 2000px;
            max-height: 650px;
            z-index: -1;
            visibility: visible;
            top: -160px;
        }

        /*inscription*/
        .inscription {
            position: relative;
            z-index: 2;
            width: 50%;
            top: 20px;

        }

        .inscription input {
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 20px;
            box-sizing: border-box;
            resize: vertical;
            margin-bottom: 10px;
        }

        form#inscription {
            box-sizing: border-box;
            border-radius: 30px;
            padding: 20px 50px 20px 50px;
            background-color: white;
            width: 100%;
            height: 670px;
            max-width: 570px;
            margin: 0 auto;
            border: none;
        }

        form#inscription .prenom\/nom, form#inscription .mail, form#inscription .id, form#inscription .age, form#inscription .mdp {
            padding: 5px 0 5px 0;
        }

        form#inscription button.je-m-inscris {
            width: 100%;
            padding: 20px;
            border-radius: 20px;
            border: none;
        }

        .inscrivez-vous h2 {
            text-align: center;
        }

        .mdp p:first-of-type {
            text-align: center;
            background: none;
            padding: 0 50px 0 50px;
            margin-top: 0;
        }

        #mail {
            margin-bottom: 0;
        }

        /* contact*/
        .contact textarea, .contact input {
            width: 100%;
            border-radius: 17px;
            border: none;
            padding: 10px 10px 10px 10px;
            margin: 10px 0 0 0;
            box-sizing: border-box;
            resize: vertical;
        }

        #contact {
            box-sizing: border-box;
            border-radius: 35px;
            background-color: #f2f2f2;
            padding: 20px 30px 20px 30px;
            width: 100%;
            height: 500px;
            max-width: 400px;
            margin: 0 auto;
        }

        .nom, .prenom, .mail2, .msg {
            padding: 5px 0 5px 0;
        }

        textarea#msg {
            height: 200px;
        }

        #contact button.envoyer {
            width: 150px;
            height: 40px;
            border-radius: 12px;
            border: none;
            /*margin:0 auto;*/
        }

        #nom, #prenom {
            display: table-cell;
            width: 100%;
        }

        /*image contact*/
        img#img_contact.responsive {
            width: 100%;
            max-width: 2000px;
            height: 100%;
            visibility: hidden;
        }

        /*img#img_contact {
            position: absolute;
            z-index: -1;
            top: -5px;
            left: 0;
        }*/

    h3#equipe, .contact > h3, #titre h3 {
        max-width: 180px;
        height: 30px;
        border-radius: 0 60px 60px 0;
        text-align: left;
        padding: 10px 0 0 20px;
        margin-left: -10px;
        margin-top: 50px;
        width: 100%;
    }


    /*decouvrez*/
    .decouvrez p {
        position: absolute;
        top: 40px;
        width: 50%;
    }

    .decouvrez h2 {
        position: absolute;
        top: 0;
    }

    img#postez {
        position: relative;
        top: -150px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 220px;
        left: 50px;
    }

    .postez p {
        position: absolute;
        top: 260px;
        left: 50px;
        width: 150px;
    }

    img#achetez_vendez {
        position: relative;
        top: -300px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 750px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 10px;
        top: -300px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 200px;
        margin-left: 10px;
        top: -260px;
    }

    .fonctionnalites {
        height: 610px;
    }

    .equipe {
        height: 200px;
        position: relative;
        margin: 40px auto 0 auto;
        max-width: 320px;
    }

    .lena img, .marine img, .nina img {
        width: 70px;
        height: 70px;
    }

    .nina > address > p, .marine > address > p, .lena > address > p {
        font-size: 10px;
        margin: 0;
    }

    .nina > address > a, .marine > address > a, .lena > address > a {
        padding: 5px 10px 5px 10px;
        border-radius: 60px;
        font-size: 9px;
    }

    .nina, .marine, .lena {
        position: absolute;
    }

    .marine {
        left: 85px;
        top: -40px;
    }

    .nina {
        left: 170px;
    }
}

@media screen and (max-width: 430px) {
    /*connexion*/
    .connexion {
        position: relative;
        z-index: 2;
        width: 100%;
        top: 20px;
        height: 550px;
    }

    #connexion {
            border-radius: 30px;
            padding: 10px 30px 10px 30px;
            background-color: white;
            width: 100%;
            height: 320px;
            max-width: 310px;
            margin: 0 auto;
            border: none;
            position: relative;
            top: 70px;
        }

    img#postez {
        position: relative;
        top: -100px;
        height: 200%;
        width: 50%;
    }

    img#achetez_vendez {
        position: relative;
        top: -280px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 750px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 10px;
        top: -300px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 180px;
        margin-left: 10px;
        top: -260px;
    }

    .fonctionnalites {
        height: 610px;
    }
}

@media screen and (max-width: 400px) {
    /*connexion*/
    .connexion {
        position: relative;
        z-index: 2;
        width: 100%;
        top: 20px;
        height:480px;
    }


    .fonctionnalites {
        height: 610px;
    }
}

@media screen and (max-width: 386px) {
    /*connexion*/
    .connexion {
        position: relative;
        z-index: 2;
        width: 100%;
        top: 20px;
        height:480px;
    }

    #connexion {
        border-radius: 30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 320px;
        max-width: 310px;
        margin: 0 auto;
        border: none;
        position: relative;
        top: 50px;
    }

    /*decouvrez*/
    .decouvrez p {
        position: absolute;
        top: 20px;
        width: 50%;
    }

    .decouvrez h2 {
        position: absolute;
        top: -20px;
    }

    img#postez {
        position: relative;
        top: -50px;
        height: 200%;
        width: 50%;
    }

    .postez h2 {
        position: absolute;
        top: 200px;
        left: 50px;
    }

    .postez p {
        position: absolute;
        top: 240px;
        left: 50px;
        width: 120px;
    }

    img#achetez_vendez {
        position: relative;
        top: -240px;
        height: 200%;
        width: 50%;
    }

    .achetez_vendez {
        position: absolute;
        top: 750px;
    }

    .achetez_vendez h2 {
        position: absolute;
        margin-left: 10px;
        top: -310px;
    }

    .achetez_vendez p {
        position: absolute;
        width: 150px;
        margin-left: 10px;
        top: -280px;
    }

    .fonctionnalites {
        height: 640px;
    }
}

@media screen and (max-width: 360px) {
    #connexion {
        border-radius: 30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 320px;
        max-width: 310px;
        margin: 0 auto;
        border: none;
        position: relative;
        top: 30px;
    }
}

@media screen and (max-width: 345px) {
    #connexion {
        border-radius: 30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 300px;
        max-width: 310px;
        margin: 0 auto;
        border: none;
        position: relative;
        top: 30px;
    }

    /*decouvrez*/
    .decouvrez p {
        position: absolute;
        top: 0px;
        width: 50%;
    }

    .decouvrez h2 {
        position: absolute;
        top: -40px;
    }
}


@media screen and (max-width: 330px) {
    /*connexion*/
    .connexion {
        position: relative;
        z-index: 2;
        width: 100%;
        top: 20px;
        height:410px;
    }

    #connexion {
        border-radius: 30px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        width: 100%;
        height: 300px;
        max-width: 310px;
        margin: 0 auto;
        border: none;
        position: relative;
        top: 10px;
    }
}
