/*body {
    background-color: black;
}*/

/* réseaux sociaux*/
/*facebook*/
svg#Bold {
    fill: #92C2C5;
}

/*instagram*/
svg.feather.feather-instagram {
    stroke:#92C2C5;
}

/*mail*/
svg#email {
    stroke: #92C2C5;
    fill :#92C2C5;
}

/* haut de la page*/
/*titre*/
.texte h1 {
    color: #CF4C68;
    font-family: Merriweather;
    font-weight: 700;
}

/*texte*/
.texte > p:first-of-type {
    color: black;
    font-family: Roboto;
    font-weight: 700;
}

.texte > p:nth-of-type(2){
    color: black;
    font-family: Roboto;
    font-weight: 700;
}

.texte > p:last-of-type{
    color: black;
    font-family: Roboto;
    font-weight: 300;
}

/*inscription*/
.inscrivez-vous h2 {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
}

.inscrivez-vous b {
    color: black;
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    text-decoration: underline;
}

input#prenom\/nom, input#age, input#id, input#mail, input#mdp {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    background-color: #FFE9AA;
}

.inscription > p {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}
.mdp > p:first-of-type {
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 10px;
}

button.je-m-inscris {
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    background-color: #CF4C68;

}

/*fonctionnalités*/
.fonctionnalites p{
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px
}

.fonctionnalites h2{
    color: black;
    font-family: Roboto;
    font-weight: 300;
    font-size: 38px;
}

/* à propos*/
.a-propos > p {
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
}

.a-propos > h3, .equipe > h3, .contact > h3 {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    background-color: #CF4C68;
}

/*L'équipe*/
.lena > address > p {
    color: #76A0A3;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
}

.lena > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: #76A0A3;
    font-style: normal;
}

.marine> address > p {
    color: #CF4C68;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
}


.marine > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: #CF4C68;
    font-style: normal;
}

.nina > address > p {
    color: #E7A52E;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
}

.nina > address > a {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: #E7A52E;
    font-style: normal;
}

/* contact*/
input#mail2, input#nom, input#prenom, textarea#msg{
    color: #666666;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
}

form#contact {
    background-color: #FCBAC5;
}

button.envoyer {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    background-color: #CF4C68;
}

/*responsive*/
@media screen and (max-width: 3000px) {
    .texte p {
        padding-left: 30px;
        padding-right: 15px;
    }

    .texte h1 {
        font-size: 90px;
        margin-bottom: 0;
        padding-left: 30px;
    }

    .texte > p:first-of-type {
        font-size: 30px;
        text-align: justify;
    }

    .texte > p:nth-of-type(2){
        font-size: 25px;
    }

    .texte > p:last-of-type{
        font-size: 25px;
    }

    /*connexion*/
    .connectez-vous b {
        color: black;
        font-family: Roboto;
        font-weight: 700;
        font-size: 27px;
        text-decoration: underline;
    }

    input#prenom\/nom, input#age, input#id, input#mail, input#mdp {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        background-color: #FFE9AA;
    }

    button.je-me-connecte {
        color: white;
        font-family: Roboto;
        font-weight: 700;
        font-size: 18px;
        background-color: #CF4C68;
    }

    .connexion > p {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
    }
    .mdp > p:first-of-type {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 10px;
    }

    #connexion a#mdp-oublie {
        color: #76A0A3;
        font-family: Roboto;
        font-weight: 400;
        font-size: 15px;
        text-decoration: none;
    }

    #connexion a#inscription {
        color: #CF4C68;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        text-decoration: none;
    }

    #connexion a, #connexion p {
        display: inline-block;
    }

    #connexion p {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .texte p {
        padding-left: 15px;
        padding-right: 25px;
    }

    .texte > p:first-of-type {
        font-size: 21px;
        text-align: justify;
    }

    .texte > p:nth-of-type(2){
        font-size: 17px;
    }

    .texte > p:last-of-type{
        font-size: 15px;
    }
}

@media screen and (max-width: 1060px) {
    .texte p {
        padding-left: 15px;
        padding-right: 20px;
    }

    .texte > p:first-of-type {
        text-align: justify;
    }
}

@media screen and (max-width: 1000px) {
    .texte p {
        padding-left: 15px;
        padding-right: 20px;
    }

    .texte > p:first-of-type {
        text-align: justify;
    }

    .texte h1 {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .texte p {
        padding-left: 30px;
        padding-right: 30px;
    }

    .texte h1 {
        font-size: 60px;
        padding-left: 15px;
        margin-bottom: 0;
        text-align: center;
    }

    .texte > p:first-of-type {
        font-size: 22px;
        text-align: justify;
    }

    .texte > p:nth-of-type(2){
        font-size: 18px;
    }

    .texte > p:last-of-type{
        font-size: 15px;
        text-align: justify;
    }

    /*connexion*/
    .connectez-vous b {
        color: black;
        font-family: Roboto;
        font-weight: 700;
        font-size: 25px;
        text-decoration: underline;
    }

    input#prenom\/nom, input#age, input#id, input#mail, input#mdp {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        background-color: #FFE9AA;
    }

    button.je-me-connecte {
        color: white;
        font-family: Roboto;
        font-weight: 700;
        font-size: 15px;
        background-color: #CF4C68;
    }

    .connexion > p {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
    }
    .mdp > p:first-of-type {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 10px;
    }

    #connexion a#mdp-oublie {
        color: #76A0A3;
        font-family: Roboto;
        font-weight: 400;
        font-size: 15px;
        text-decoration: none;
    }

    #connexion a#inscription {
        color: #CF4C68;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        text-decoration: none;
    }

    #connexion a, #connexion p {
        display: inline-block;
    }

    #connexion p {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
    }

}

@media screen and (max-width: 480px){
    .texte p {
        padding-left: 30px;
        padding-right: 30px;
    }

    .texte h1 {
        font-size: 30px;
        margin-bottom: 0;
        padding-left: 15px;
        text-align: center;
    }

    .texte > p:first-of-type {
        font-size: 18px;
        text-align: justify;
    }

    .texte > p:nth-of-type(2){
        font-size: 15px;
    }

    .texte > p:last-of-type{
        font-size: 12px;
        text-align: justify;
    }

    /*connexion*/
    .connectez-vous b {
        color: black;
        font-family: Roboto;
        font-weight: 700;
        font-size: 18px;
        text-decoration: underline;
    }

    input#prenom\/nom, input#age, input#id, input#mail, input#mdp {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        background-color: #FFE9AA;
    }

    button.je-me-connecte {
        color: white;
        font-family: Roboto;
        font-weight: 700;
        font-size: 12px;
        background-color: #CF4C68;
    }


    .connexion > p {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
    }
    .mdp > p:first-of-type {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 8px;
    }

    #connexion a#mdp-oublie {
        color: #76A0A3;
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
    }

    #connexion a#inscription {
        color: #CF4C68;
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        text-decoration: none;
    }

    #connexion a, #connexion p {
        display: inline-block;
    }

    #connexion p {
        color: black;
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
    }

}

